#main-container, #products-page-main {
	height: 100%;
	overflow-y: hidden;
}

.product-card img {
	max-width: 160px;
	max-height: 200px;
}


#products-page-main {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

#category-buttons {
	height: 100%;
	overflow-y: auto;
	background-color: var(--lite-gray);

	display: flex;
	flex-direction: column;


	& button {
		border: 0;
		padding: 1rem;
		cursor: pointer;
		text-align: right;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1rem;

		& img {
			display: none;
		}

		&:not(.selected):hover {
			background-color: rgba(0, 0, 0, 0.05);
		}

		&.selected {
			font-weight: bold;
			background-color: var(--dark-green);
			color: white;

			& img {
				display: block;
			}
		}
	}
}

#products {
	height: calc(100% - 3rem);
	overflow-y: auto;
	padding: 1rem;
	position: relative;
}

.laddar-produkter {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	text-align: center;
	font-size: 2rem;

	& .big {
		font-size: 5rem;
	}
}

/* Products */
#products {
	display: grid;
	align-content: flex-start;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
}

.product-card {
	border: 1px solid #ddd;
	border-radius: 1rem;
	padding: 1rem;
	text-align: center;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* max-height: 400px; */

	& h3,
	h4,
	p {
		margin: .25rem;
	}
}

.spacer {
	flex-grow: 1;
}

.product-card button {
	background: lightgray;
	border: none;
	padding: 0.5rem 1rem;
	cursor: pointer;

	&:hover {
		background: #b1b1b1;
	}

	&:active {
		background: #8b8b8b;
	}
}

.product-card-controls {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;

	& button {
		width: 40px;
		height: 40px;
		display: flex;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
	}
}

.moms {
	font-size: 0.7rem;
	font-style: italic;
}